<%- include('header.ejs' ,{page_title:`Download ${title}`,movies:'white',tvShows:'secondary',myList:'secondary',style:'download'}) %>

<div id="yts-content" class="container">
    <a href="https://yts.mx"><img src="/images/yts.png"></a>
    <% if (ytsTorrents) { %>
        <div class="yts-cards mt-4">
            <% ytsTorrents.forEach((torrent) => { %>
                <div class="yts-card">
                    <p class="pt-2">Seeds: <%= torrent.seeds %> / Peers: <%= torrent.peers %></p>
                    <h2 class="outfit-bold m-0"><%= torrent.quality %></h2>
                    <h2 class="outfit-bold mb-3"><%= torrent.type %></h2>
                    <h4 class="outfit-light pb-2">Size : <%= torrent.size %></h4>
                    <div class="torrent-magnet pb-3">
                        <a href="<%= torrent.url %>"><img src="/images/torrent.png"></a>
                        <a href="magnet:?xt=urn:btih:<%= torrent.hash %>&dn=<%= title_long %>&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce&tr=udp%3A%2F%2Fopen.tracker.cl%3A1337%2Fannounce&tr=udp%3A%2F%2Fp4p.arenabg.com%3A1337%2Fannounce&tr=udp%3A%2F%2Ftracker.torrent.eu.org%3A451%2Fannounce&tr=udp%3A%2F%2Ftracker.dler.org%3A6969%2Fannounce&tr=udp%3A%2F%2Fopen.stealth.si%3A80%2Fannounce&tr=udp%3A%2F%2Fipv4.tracker.harry.lu%3A80%2Fannounce&tr=https%3A%2F%2Fopentracker.i2p.rocks%3A443%2Fannounce"><img src="/images/magnet.png"></a>
                    </div>
                </div>
            <% }) %>
        </div>
    <% } else { %>
        <p class="mt-3">The torrents for this movie has not yet been uploaded to yts.mx</p>
    <% } %>
</div>


<%- include('footer.ejs') %>
