<%- include('header.ejs' ,{page_title:`Download
    ${title}`,moviesClasses:"underline",tvShowsClasses:"",myListClasses:"",style:'download'}) %>

<% function format(text) {
    return text.replaceAll('&rsquo;','\'').replaceAll('\\\'','\'').replaceAll('&gt;','>').replaceAll('&lt;','<')
}; 

function objToString (obj) {
    var str = '';
    for (var p in obj) {
        if (Object.prototype.hasOwnProperty.call(obj, p)) {
            str += p + '::' + obj[p] + '\n';
        }
    }
    return str;
}

function formatBytes(bytes) {
    if ( Math.floor(bytes/(Math.pow(1024,3))) >= 1 ) {
                return (Math.round((bytes *100)/(Math.pow(1024,3))) / 100 + ' GiB')
            } else if (Math.round((bytes *100)/(Math.pow(1024,2))) / 100 >=1) {
                return (Math.round((bytes *100)/(Math.pow(1024,2))) / 100 + ' MiB')
            } else if (Math.round((bytes *100)/(Math.pow(1024,1))) / 100 >=1) {
                return (Math.round((bytes *100)/(Math.pow(1024,1))) / 100 + ' KiB')
            } else { 
                return (bytes + ' B')
            }   
};

%>

    <div id="yts-content" class="container">
        <a href="https://yts.mx"><img src="/images/yts.png"></a>
        <% if (ytsTorrents) { %>
            <div class="yts-cards mt-4">
                <% ytsTorrents.forEach((torrent)=> { %>
                    <div class="yts-card">
                        <p class="pt-2">Seeds: <%= torrent.seeds %> / Peers: <%= torrent.peers %>
                        </p>
                        <h2 class="outfit-bold m-0">
                            <%= torrent.quality %>
                        </h2>
                        <h2 class="outfit-bold mb-3">
                            <%= torrent.type %>
                        </h2>
                        <h4 class="outfit-light pb-2">Size : <%= torrent.size %>
                        </h4>
                        <div class="torrent-magnet pb-3">
                            <a href="<%= torrent.url %>"><img src="/images/torrent.png"></a>
                            <a
                                href="magnet:?xt=urn:btih:<%= torrent.hash %>&dn=<%= title_long %> <%= torrent.quality %> <%= torrent.type %> [YTS.MX]&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce&tr=udp%3A%2F%2Fopen.tracker.cl%3A1337%2Fannounce&tr=udp%3A%2F%2Fp4p.arenabg.com%3A1337%2Fannounce&tr=udp%3A%2F%2Ftracker.torrent.eu.org%3A451%2Fannounce&tr=udp%3A%2F%2Ftracker.dler.org%3A6969%2Fannounce&tr=udp%3A%2F%2Fopen.stealth.si%3A80%2Fannounce&tr=udp%3A%2F%2Fipv4.tracker.harry.lu%3A80%2Fannounce&tr=https%3A%2F%2Fopentracker.i2p.rocks%3A443%2Fannounce"><img
                                    src="/images/magnet.png"></a>
                        </div>
                    </div>
                    <% }) %>
            </div>
            <% } else { %>
                <p class="mt-3">The torrents for this movie has not yet been uploaded to yts.mx</p>
                <% } %>
    </div>

    <div id="pbay-content" class="container d-flex flex-column align-items-center">
        <a class="my-5" href="https://pirate-proxy.black/"><img class="tpb-logo" width="100px" src="/images/tpb.jpg"></a>
        <div class="dropdown mb-4">
            <a class="btn btn-outline-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Quality
            </a>
          
            <ul class="dropdown-menu">
              <li><a class="dropdown-item <% if (tpbResults[0].size == '0') { %><%= 'disabled' %><% }%>" onclick="tpbAll()">All</a></li>
              <li><a class="dropdown-item <% if (tpbResults720p[0].size == '0') { %><%= 'disabled' %><% }%>" onclick="tpb720p()">720p</a></li>
              <li><a class="dropdown-item <% if (tpbResults1080p[0].size == '0') { %><%= 'disabled' %><% }%>" onclick="tpb1080p()">1080p</a></li>
              <li><a class="dropdown-item <% if (tpbResults4k[0].size == '0') { %><%= 'disabled' %><% }%>" onclick="tpb4k()">2160p (4k)</a></li>
            </ul>
          </div>
        <table class="table table-hover table-dark table-bordered">
            <thead class="thead">
                <tr class="table-red">
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Seeders</th>
                    <th scope="col">Leechers</th>
                    <th scope="col">Size</th>
                    <th scope="col">Uploader</th>
                    <th scope="col">Magnet</th>
                </tr>
            </thead>
            <tbody class="tbody">
                <% tpbResults.slice(0,-1).forEach((result,index) => { %>
                    <tr>
                        <th scope="row"><%= index+1 %></th>
                        <td class="column-name"><a href="/download/tpb?tpbId=<%= result.id %>&from=movies"><%= format(result.name) %></a></td>
                        <td><%= result.seeders %></td>
                        <td><%= result.leechers %></td>
                        <td><%= formatBytes(result.size) %></td>                       
                        <td><%= result.status %></td>
                        <td>
                            <div class="d-flex justify-content-center"><a href="magnet:?xt=urn:btih:<%= result.info_hash %>&dn=<%= format(result.name) %>&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A6969%2Fannounce&tr=udp%3A%2F%2F9.rarbg.to%3A2710%2Fannounce&tr=udp%3A%2F%2F9.rarbg.me%3A2780%2Fannounce&tr=udp%3A%2F%2F9.rarbg.to%3A2730%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337&tr=http%3A%2F%2Fp4p.arenabg.com%3A1337%2Fannounce&tr=udp%3A%2F%2Ftracker.torrent.eu.org%3A451%2Fannounce&tr=udp%3A%2F%2Ftracker.tiny-vps.com%3A6969%2Fannounce&tr=udp%3A%2F%2Fopen.stealth.si%3A80%2Fannounce"><img width="20px"
                                        src="/images/magnet.png"></a></div>
                        </td>
                    </tr>
                <% }) %>
                <tr class="last-row">
                    <th scope="row"><%= tpbResults.length %></th>
                        <td class="column-name"><a href="/download/tpb?tpbId=<%= tpbResults[ tpbResults.length -1 ].id %>&from=movies"><%= format(tpbResults[ tpbResults.length -1 ].name) %></a></td>
                        <td><%= tpbResults[ tpbResults.length -1 ].seeders %></td>
                        <td><%= tpbResults[ tpbResults.length -1 ].leechers %></td>
                        <td><%= formatBytes( tpbResults[ tpbResults.length -1 ].size ) %></td>  
                        <td><%= tpbResults[ tpbResults.length -1 ].status %></td>
                        <td>
                            <div class="d-flex justify-content-center"><a href="magnet:?xt=urn:btih:<%= tpbResults[ tpbResults.length -1 ].info_hash %>&dn=<%= format(tpbResults[ tpbResults.length -1 ].name) %>&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A6969%2Fannounce&tr=udp%3A%2F%2F9.rarbg.to%3A2710%2Fannounce&tr=udp%3A%2F%2F9.rarbg.me%3A2780%2Fannounce&tr=udp%3A%2F%2F9.rarbg.to%3A2730%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337&tr=http%3A%2F%2Fp4p.arenabg.com%3A1337%2Fannounce&tr=udp%3A%2F%2Ftracker.torrent.eu.org%3A451%2Fannounce&tr=udp%3A%2F%2Ftracker.tiny-vps.com%3A6969%2Fannounce&tr=udp%3A%2F%2Fopen.stealth.si%3A80%2Fannounce"><img width="20px"
                                        src="/images/magnet.png"></a></div>
                        </td>
                </tr>
            </tbody>
        </table>
    </div>
<script>
function format(text) {
    return text.replaceAll('&rsquo;','\'').replaceAll('\\\'','\'').replaceAll('&gt;','>').replaceAll('&lt;','<')
}; 

function formatBytes(bytes) {
    if ( Math.floor(bytes/(Math.pow(1024,3))) >= 1 ) {
                return (Math.round((bytes *100)/(Math.pow(1024,3))) / 100 + ' GiB')
            } else if (Math.round((bytes *100)/(Math.pow(1024,2))) / 100 >=1) {
                return (Math.round((bytes *100)/(Math.pow(1024,2))) / 100 + ' MiB')
            } else if (Math.round((bytes *100)/(Math.pow(1024,1))) / 100 >=1) {
                return (Math.round((bytes *100)/(Math.pow(1024,1))) / 100 + ' KiB')
            } else { 
                return (bytes + ' B')
            }   
};
function decodeHTMLEntities(text) {
    const textArea = document.createElement('textarea');
    textArea.innerHTML = text;
    return textArea.value;
}

    var tpbResults = JSON.parse(decodeHTMLEntities('<%= JSON.stringify(tpbResults) %>'));

    async function tpbAll() {
        $('tbody').html('');
        tpbResults = JSON.parse(decodeHTMLEntities('<%= JSON.stringify(tpbResults) %>'));
        tpbResults.forEach((result,index) => {
            $('tbody').append(`<tr>
                        <th scope="row">${ index+1 }</th>
                        <td class="column-name"><a href="/download/tpb?tpbId=${ result.id }&from=movies">${ format(result.name) }</a></td>
                        <td>${ result.seeders }</td>
                        <td>${ result.leechers }</td>
                        <td>${ formatBytes(result.size) }</td>                       
                        <td>${ result.status }</td>
                        <td>
                            <div class="d-flex justify-content-center"><a href="magnet:?xt=urn:btih:${ result.info_hash }&dn=${ format(result.name) }&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A6969%2Fannounce&tr=udp%3A%2F%2F9.rarbg.to%3A2710%2Fannounce&tr=udp%3A%2F%2F9.rarbg.me%3A2780%2Fannounce&tr=udp%3A%2F%2F9.rarbg.to%3A2730%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337&tr=http%3A%2F%2Fp4p.arenabg.com%3A1337%2Fannounce&tr=udp%3A%2F%2Ftracker.torrent.eu.org%3A451%2Fannounce&tr=udp%3A%2F%2Ftracker.tiny-vps.com%3A6969%2Fannounce&tr=udp%3A%2F%2Fopen.stealth.si%3A80%2Fannounce"><img width="20px"
                                        src="/images/magnet.png"></a></div>
                        </td>
                    </tr>`)
        })
        $('tbody > tr:last').addClass('last-row')
    }
    async function tpb720p() {
        $('tbody').html('');
        tpbResults = JSON.parse(decodeHTMLEntities('<%= JSON.stringify(tpbResults720p) %>'));
        tpbResults.forEach((result,index) => {
            $('tbody').append(`<tr>
                        <th scope="row">${ index+1 }</th>
                        <td class="column-name"><a href="/download/tpb?tpbId=${ result.id }&from=movies">${ format(result.name) }</a></td>
                        <td>${ result.seeders }</td>
                        <td>${ result.leechers }</td>
                        <td>${ formatBytes(result.size) }</td>                       
                        <td>${ result.status }</td>
                        <td>
                            <div class="d-flex justify-content-center"><a href="magnet:?xt=urn:btih:${ result.info_hash }&dn=${ format(result.name) }&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A6969%2Fannounce&tr=udp%3A%2F%2F9.rarbg.to%3A2710%2Fannounce&tr=udp%3A%2F%2F9.rarbg.me%3A2780%2Fannounce&tr=udp%3A%2F%2F9.rarbg.to%3A2730%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337&tr=http%3A%2F%2Fp4p.arenabg.com%3A1337%2Fannounce&tr=udp%3A%2F%2Ftracker.torrent.eu.org%3A451%2Fannounce&tr=udp%3A%2F%2Ftracker.tiny-vps.com%3A6969%2Fannounce&tr=udp%3A%2F%2Fopen.stealth.si%3A80%2Fannounce"><img width="20px"
                                        src="/images/magnet.png"></a></div>
                        </td>
                    </tr>`)
        })
        $('tbody > tr:last').addClass('last-row')
    }
    async function tpb1080p() {
        $('tbody').html('');
        tpbResults = JSON.parse(decodeHTMLEntities('<%= JSON.stringify(tpbResults1080p) %>'));
        tpbResults.forEach((result,index) => {
            $('tbody').append(`<tr>
                        <th scope="row">${ index+1 }</th>
                        <td class="column-name"><a href="/download/tpb?tpbId=${ result.id }&from=movies">${ format(result.name) }</a></td>
                        <td>${ result.seeders }</td>
                        <td>${ result.leechers }</td>
                        <td>${ formatBytes(result.size) }</td>                       
                        <td>${ result.status }</td>
                        <td>
                            <div class="d-flex justify-content-center"><a href="magnet:?xt=urn:btih:${ result.info_hash }&dn=${ format(result.name) }&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A6969%2Fannounce&tr=udp%3A%2F%2F9.rarbg.to%3A2710%2Fannounce&tr=udp%3A%2F%2F9.rarbg.me%3A2780%2Fannounce&tr=udp%3A%2F%2F9.rarbg.to%3A2730%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337&tr=http%3A%2F%2Fp4p.arenabg.com%3A1337%2Fannounce&tr=udp%3A%2F%2Ftracker.torrent.eu.org%3A451%2Fannounce&tr=udp%3A%2F%2Ftracker.tiny-vps.com%3A6969%2Fannounce&tr=udp%3A%2F%2Fopen.stealth.si%3A80%2Fannounce"><img width="20px"
                                        src="/images/magnet.png"></a></div>
                        </td>
                    </tr>`)
        })
        $('tbody > tr:last').addClass('last-row')
    }
    async function tpb4k() {
        $('tbody').html('');
        tpbResults = JSON.parse(decodeHTMLEntities('<%= JSON.stringify(tpbResults4k) %>'));
        tpbResults.forEach((result,index) => {
            $('tbody').append(`<tr>
                        <th scope="row">${ index+1 }</th>
                        <td class="column-name"><a href="/download/tpb?tpbId=${ result.id }&from=movies">${ format(result.name) }</a></td>
                        <td>${ result.seeders }</td>
                        <td>${ result.leechers }</td>
                        <td>${ formatBytes(result.size) }</td>                       
                        <td>${ result.status }</td>
                        <td>
                            <div class="d-flex justify-content-center"><a href="magnet:?xt=urn:btih:${ result.info_hash }&dn=${ format(result.name) }&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A6969%2Fannounce&tr=udp%3A%2F%2F9.rarbg.to%3A2710%2Fannounce&tr=udp%3A%2F%2F9.rarbg.me%3A2780%2Fannounce&tr=udp%3A%2F%2F9.rarbg.to%3A2730%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337&tr=http%3A%2F%2Fp4p.arenabg.com%3A1337%2Fannounce&tr=udp%3A%2F%2Ftracker.torrent.eu.org%3A451%2Fannounce&tr=udp%3A%2F%2Ftracker.tiny-vps.com%3A6969%2Fannounce&tr=udp%3A%2F%2Fopen.stealth.si%3A80%2Fannounce"><img width="20px"
                                        src="/images/magnet.png"></a></div>
                        </td>
                    </tr>`)
        })
        $('tbody > tr:last').addClass('last-row')
    }
</script>
<%- include('footer.ejs') %>