<%- include('header.ejs' ,{page_title:`${title} (${year}) - Netflix-X`,moviesClasses:moviesClasses,tvShowsClasses:tvShowsClasses,myListClasses:myListClasses,style:'movie'}) %>

<div id="hero">
    
    <div id="slideshow" class="carousel slide carousel-fade" data-bs-ride="carousel" alt="<%= title %> image slideshow">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <% if (backdrops[0].file_path[0]=='h') {%>
                <img src="<%= backdrops[0].file_path %>" class="d-block w-100">
                <% } else { %>
                <img src="https://image.tmdb.org/t/p/original/<%= backdrops[0].file_path %>" class="d-block w-100">
                <% } %>
            </div>
            <% backdrops.slice(1,11).forEach((backdrop) => { %>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="https://image.tmdb.org/t/p/original/<%= backdrop.file_path %>" class="d-block w-100">
                </div>
          <% }) %>
        </div>
    </div>

    <div id="vignette-top"></div>
    <div id="vignette-bottom"></div>
    <div id="movie-info">
        <h1><%= title %></h1>
        <div id="subinfo">
            <a href="https://www.imdb.com/title/<%= imdbId %>/"><p class="outfit-light">IMDB <%= imdb_rating %>/10</p></a>
            <p class="outfit-light"><%= year %> ‧ <%= genre1 %>/<%= genre2 %> ‧ <%= runtime %></p>
        </div>
        <div id="description">
            <p class="roboto-regular"><%= description %></p>
        </div>
    </div>
    <div id="watchDwnBook">
        <% if (moviesClasses) { %>
            <div class="outfit-semibold watchDwn-button">
                <a href="/stream/movie?imdb_id=<%= imdbId %>&title=<%= title %>"><p>WATCH NOW</p></a>
            </div>
            <div class="outfit-semibold watchDwn-button">
                <a href="/download/movie?imdb_id=<%= imdbId %>&title=<%= title %> <%= year %>"><p>DOWNLOAD</p></a>
            </div>
        <% } else { %>
            <div class="outfit-semibold watchDwn-button">
                <a href="/stream/tv?imdb_id=<%= imdbId %>&title=<%= title %>"><p>WATCH NOW</p></a>
            </div>
            <div class="outfit-semibold watchDwn-button">
                <a href="/download/tv?imdb_id=<%= imdbId %>&title=<%= title %> <%= year %>"><p>DOWNLOAD</p></a>
            </div>
        <% } %>
        <div class="bookmark-button">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M5 6.2C5 5.07989 5 4.51984 5.21799 4.09202C5.40973 3.71569 5.71569 3.40973 6.09202 3.21799C6.51984 3 7.07989 3 8.2 3H15.8C16.9201 3 17.4802 3 17.908 3.21799C18.2843 3.40973 18.5903 3.71569 18.782 4.09202C19 4.51984 19 5.07989 19 6.2V21L12 16L5 21V6.2Z" stroke="#FFFFFF" stroke-width="2" stroke-linejoin="round"></path> </g></svg>
        </div>
    </div>
</div>

<div class="container mb-3">
    <h2>Cast</h2>
    <div id="Casts">
        <% cast.forEach((member) => { %>
            <% if (member.profile_path) {%>
                <div class="cast">
                    <div class="profile-pic">
                        <img src="https://image.tmdb.org/t/p/w185/<%= member.profile_path %>">
                    </div>
                    <p class="cast-name"><%= member.name %></p>
                    <p class="character-name">As <%= member.character %></p>
                </div>
            <% } %>
        <% }) %>
    </div>
</div>

<div class="container my-3">
    <h3>Recommended to watch</h3>
    <div class="movies d-inline-flex flex-row">
        <!-- Insert More Like this Movies here -->
        <% resultsSimilar.forEach((movie)=> { %>
            <a href="/<% if (tvShowsClasses) { %><%= 'tv?tv' %><% } else { %><%= 'movie?movie' %><% } %>_id=<%= movie.id %>"">
                <div class="movie">
                    <img src="<%='https://image.tmdb.org/t/p/w500' + movie.poster_path + '?api_key=bec65bb3754d6123171bbcb3124167f0' %>"
                        class="m-2" alt="<%='Poster of ' + movie.title %>">
                    <p>
                        <%= movie.title %>
                    </p>
                </div>
                </a>
            <% }) %>

    </div>
</div>

<%- include('footer.ejs') %>